html, body {
	font-family: 'HelveticaNeue';
	color: #565656;
}

.bg-light {
	background-color: #f2f2f2 !important;
}

.bg-dark {
	background-color: #565656 !important;
}

.btn,
.navbar-toggler {
	border-radius: 0;
	border-color: transparent;
}

.form-control::placeholder {
	color: inherit !important;
	opacity: .5;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: inherit !important;
	opacity: .25;
}