html,
body {
	font-family: 'HelveticaNeue';
	color: #565656;
	/* color: #fd4f00; */
}

body {
	overflow-x: hidden;
}

.wrapper {
	min-height: 50vh;
}

.wrapper>section {
	padding-top: calc(70px + 1vw);
	margin-bottom: calc(70px + 1vw);
	border-top: solid 1px rgba(0, 0, 0, .175);
}

.wrapper>section:first-of-type {
	border-top: solid 1px transparent;
}

.bg-light {
	background-color: #f2f2f2 !important;
}

.bg-dark {
	background-color: #565656 !important;
}

.btn,
.navbar-toggler,
.form-control,
.btn-close,
.form-select {
	border-radius: 0;
	border-color: transparent;
}

.form-control,
.list-group-item,
.figure-caption {
	color: inherit !important;
	font-size: inherit !important;
}

.form-control::placeholder {
	color: inherit !important;
	opacity: .5;
}

.breadcrumb-item+.breadcrumb-item::before {
	color: inherit !important;
	opacity: .5;
}

.fs-reset {
	font-size: inherit !important;
}

.text-justify {
	text-align: justify;
}

@media (min-width: 992px) {
	.w-lg-auto {
		width: auto !important;
	}
}


/* ---------------- custom marker circle */
ul.marker-circle {
	list-style-type: none !important;
	padding-left: .325rem;
}

ul.marker-circle>li::marker {
	font-family: "bootstrap-icons";
	content: "\f287";
	font-size: .325em;
	color: inherit;
}

ul.marker-circle>li {
	padding-left: .5rem;
}

.form-check,
.form-check .form-check-label,
.form-check .form-check-input {
	cursor: pointer;
}

.form-check .form-check-input {
	background-image: none !important;
	background-color: #565656;
	border-color: #565656;
	opacity: .5;
	border-radius: 100%;
}

.form-check .form-check-input:checked {
	opacity: 1;
}